[Unit]
Description=SSH tunnel to %I
After=network-online.target

[Service]
User=andrei
Group=andrei
ExecStart=/usr/bin/ssh -o TCPKeepAlive=no -o ExitOnForwardFailure=yes -o ConnectTimeout=15 -N -L 0.0.0.0:7505:localhost:7505 -i /usr/local/lib/systemd/system/nopasswd_id_ed25519 %i
# -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

