[Unit]
Description=IPython notebook
[Service]
Type=simple
PIDFile=/var/run/ipython-notebook.pid
Environment="PATH=/home/andrei/miniconda3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/andrei/miniconda3/bin/jupyter-notebook --no-browser --notebook-dir=/home/andrei --no-browser --ip=0.0.0.0
User=andrei
Group=andrei
WorkingDirectory=/home/andrei
[Install]
WantedBy=multi-user.target
