[Unit]
Description=SSH tunnel to %I
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
# User=andrei
# Group=andrei
ExecStartPre=/bin/sleep 30
# Easy way: ExecStart=/usr/bin/ssh -o TCPKeepAlive=no -o ExitOnForwardFailure=yes -o ConnectTimeout=15 -N -R 10022:localhost:22 %i
# Ubuntu:   ExecStart=/usr/bin/ssh -o TCPKeepAlive=no -o ExitOnForwardFailure=yes -o ConnectTimeout=15 -N -R 10022:localhost:22 -i /path-to-key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null andrei@%i
# RHEL:     ExecStart=/usr/bin/ssh -o TCPKeepAlive=no -o ExitOnForwardFailure=yes -o ConnectTimeout=15 -o ServerAliveInterval=30 -o ServerAliveCountMax=3 -N -R 10020:localhost:22 -i /usr/local/lib/systemd/system/nopasswd_id_ed25519 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null andrei@%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
